@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('../font/3diconfont.ttf?t=1623858467841') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 24px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e674";
}

.icon-simiao:before {
  content: "\e705";
}

.icon-shipin:before {
  content: "\e628";
}

